html,
body {
  position: relative;
  /* background-color: #0d0c12; */
  background-color: #0f0f1a;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: #f0f0f5;
  /* color: #d4d3e4; */
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

a {
  color: #ff69b4;
  /* color: #2945b6; */
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

strong {
  color: #d4af37;
}
